body {
    padding-top: 70px;
    padding-bottom: 50px;
}

.play, .next, .prev {
    cursor: pointer;
}
.track {
    cursor: pointer;
}

.progress {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #5cb85c;
    height: 3px;
    width: 0;
    padding: 0;
    margin: 0;
}

.now-playing,
.controls {
    margin: 13px;
    font-size: 20px;
    line-height: 1em;
}
    .now-playing .artist,
    .now-playing .title,
    .controls .duration {
        margin-right: 30px;
    }
    .now-playing .artist {
        color: #f0ad4e;
    }
    .now-playing .title {
        color: white;
    }
    .controls .duration {
        color: white;
    }
    .controls .volumebar {
        width: 50px;
        height: 150px;
        position: absolute;
        bottom: 50px;
        margin-left: -5px;
        background-color: white;
        border: 23px solid #222;
        border-radius: 4px 4px 0 0;
    }
        .controls .volumehandle {
            position: absolute;
            margin-left: -7px;
            margin-top: -5px;
        }

.global-alerts {
    text-align: center;
    height: 0;
}
    .global-alerts .global-alert {
        display: inline;
        opacity: 0.99
    }
