/* style.css */
body {
    font-family: Helvetica, Arial, Sans-serif;
    line-height: 1em;
    padding: 0;
    margin: 0;
}

a:link { text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:hover { color: black; text-decoration: underline; }
a:active { color: black; text-decoration: underline; }

.library {
    padding: 0;
    margin: 0;
    width: 100%;
}
    .library .track {
        display: block;
        padding: 3px 10px;
        height: 20px;
        font-weight: bold;
        border-top: 2px solid gray;
    }

.controls {
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
}
    .controls .progress {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: white;
        height: 3px;
        width: 0;
    }
    .controls > .track {
        margin-left: 10px;
    }
        .controls > .track > .title {
            font-weight: bold;
            font-size: 1.5em;
            margin-top: 15px;
            float: left;
        }
        .controls > .track > .artist {
            font-size: 1em;
            margin-top: 20px;
            margin-left: 10px;
            float: left;
        }
    .controls .up_next {
        margin-top: 15px;
        float: right;
    }
        .controls .up_next .arrow {
            font-size: 2em;
            padding: 0 10px;
        }
        .controls .up_next .list {
            position: fixed;
            right: 0;
            bottom: 50px;
            padding: 10px;
            height: 160px;
            font-size: 1em;
            background-color: black;
            display: none;
        }
            .controls .up_next .list .track {
                display: block;
                color: white;
            }
            .controls .up_next .list .selected {
                color: red;
            }
