extends layout

block content
    audio.player(src='', preload='auto', volume='0')

    .global-alerts
        #global-success.global-alert.alert.alert-success
        #global-error.global-alert.alert.alert-danger

    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
            .navbar-header.brand
                a.brand-text(href='/')
                    i.rf.rf-explosion.brand-icon
                    span Ricochet
            .navbar-spacer &nbsp;
            form.navbar-form.navbar-left.search(role='search')
                .input-group
                    input#search-query.form-control(type='text', placeholder='Search')
                    span.input-group-btn
                        button#search-submit.btn.btn-default(type='submit') Submit
            .brand
                i.fa.fa-lg.fa-fw.fa-spinner.fa-spin.hidden.search-spinner
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(data-toggle='dropdown', href='#')
                        i.fa.fa-lg.fa-fw.fa-gear
                        i.fa.fa-lg.fa-fw.fa-caret-down
                    ul.dropdown-menu(role='menu')
                        li
                            a#reindex(href='#') Reindex


    nav.navbar.navbar-inverse.navbar-fixed-bottom(role='navigation')
        .container-fluid
            p.navbar-text.navbar-right.controls
                span.duration
                span.volumebar
                    span.volumehandle
                        i.fa.fa-circle
                i.volume.fa.fa-lg.fa-fw.fa-volume-off
                i.fa.fa-lg.fa-fw
                i.prev.fa.fa-lg.fa-fw.fa-backward
                i.fa.fa-lg.fa-fw
                i.play.fa.fa-lg.fa-fw.fa-play
                i.fa.fa-lg.fa-fw
                i.next.fa.fa-lg.fa-fw.fa-forward
            p.navbar-text.now-playing
                span.artist
                span.title
            .progress

    include library.jade

    include edit-modal.jade

    script(type='text/javascript', src='/js/stream.js')


