doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel="stylesheet", href="style.css")
        script(type='text/javascript', src='/js/jquery-2.1.0.min.js')
    body
        #container
            block content
