doctype html
html(lang="en")
    head
        title= pageTitle
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/stream.css')
        script(type='text/javascript', src='/js/jquery-2.1.0.min.js')
        script(type='text/javascript', src='/js/bootstrap.min.js')
    body
        .container-fluid
            block content
