table.table.table-striped.table-hover.table-responsive.table-condensed.library
    thead
        th Title
        th Duration
        th Artist
        th Album
        th Track
        th Plays
        th &nbsp;
    tbody
        each track, index in library
            include row.jade
